*{
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
}

.full_wrapper{
    width:100%;
   
}
.wrapper{
    overflow: hidden;
    width:960px;
}

/* headre_part */

.hader_bg{
  background-color: #1F2937;
}

.hader_part{
    height: 50px;
}

.hader_part_lside{
     width:480px;
     float: left;
}

.hader_part_lside h1{
    margin-top:10px;
    font-size: 24px;
    color:#f9faf8;
}

.hader_part_rside{
    float: right;
    width:480px;
}

.hader_part_rside a{
    color: #E5E7EB;
    float: right;
    text-decoration: none;
    font-size: 18px;
    margin: 12px 10px 0px 10px;
}

/* headre_part */

/* content_1 */

.con1_bg{
    background-color: #1F2937;
}

.content_1{
    height: 400px;
}

.content_1_lside{
    width:480px;
    float: left;
}

.content_1_lside h1{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    margin-top: 100px;
}

.content_1_lside p{
    font-size: 18px;
    color: #e5e7eb;
}

.content_1_lside input{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
}

.content_1_rside{
    width: 480px;
    float: right;
}

.content_1_rside img{
    margin: 115px 0px 0px 55px;
    width: 400px;
    height: 184px;
}

/* content_1 */

/* content_2 */

.con2{
    height: 290px;
}

.con2_titel_bar h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 60px;
    margin-bottom: 20px;
}

.grid_contener{
    width: 880px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 160px 60px;
    grid-template-columns: 220px 220px 220px 220px;
}

.grid_contener p{
    margin-top: 10px;
    width: 180px;
    color: black;
    text-align: justify;
}

.grid_div1{
    grid-row:1/2;
    grid-column:1/2;
}

.grid_div1 img{
    width: 195px;
    height: 160px;
    border-radius: 15px;
}

.grid_div2{
    grid-row:1/2;
    grid-column:2/3;
}

.grid_div2 img{
    width: 195px;
    height: 160px;
    border-radius: 15px;
}

.grid_div3{
    grid-row:1/2;
    grid-column:3/4;
}

.grid_div3 img{
    width: 195px;
    height: 160px;
    border-radius: 15px;
}

.grid_div4{
    grid-row:1/2;
    grid-column:4/5;
}

.grid_div4 img{
    width: 195px;
    height: 160px;
    border-radius: 15px;
}

.grid_div5{
    grid-row:2/3;
    grid-column:1/2;
}

.grid_div6{
    grid-row:2/3;
    grid-column:2/3;
}

.grid_div7{
    grid-row:2/3;
    grid-column:3/4;
}

.grid_div8{
    grid-row:2/3;
    grid-column:4/5;
}

/* content_2 */

/* content_3 */

